%h1 Listing Exam Users

%table.table.table-striped
  %tr
    %th Name
    %th Identifier
    %th Progress

  - @exam_users.each do |exam_user|
    %tr
      %td= link_to exam_user.name, edit_exam_user_path(exam_user)
      %td= exam_user.identifier
      %td
        - if exam_user.in_session?
          - if exam_user.exam_options.count == 0
            Started.
          - else
            On question ##{exam_user.exam_options.last.exam_question.position}.
            = exam_user.exam_options.count
            options selected so far.
        - elsif exam_user.exam_options.count > 0
          Finished.
          = exam_user.exam_options.count
          options were selected.
        - else
          Not Started.


%br

= link_to 'New Exam user', new_exam_user_path
