.span8.news
  / %h4.alert
  /   WINTER 2013 STUDENTS:
  /   %p
  /     You can access all news and resources from Winter Quarter by using the
  /     = link_to "Winter 2013", winter2013_url
  /     link in the navbar.

  %ul.unstyled

    %li.news_item
      %h3 Week 5 Recap

      %p
        %strong MIDTERM NEXT WEEK! :-)

      %p
        Homework for Week 5 is now available
        = link_to "on Github", homework_url(5, :spring, '2013')
        \.

      %p The slides and a Model Associations cheat sheet are in the sidebar!

      %p All of the homework instructions are in the README in the repository.
      %p
        %strong Turn In Your Homework By Wednesday, May 8th.

      %p
        The main idea this week was the
        %em scaffold generator
        to help you build a single, RESTful, database-backed resource.

      %p Try breaking the code to see the error messages you'll get, so that you'll know how to troubleshoot to most common types of bugs in Rails apps.

      %h4 OFFICE HOURS:

      %ul
        %li Jeff: Monday, 3pm-4pm in the South Classroom at The Starter League.


    %li.news_item
      %h3 Week 4 Recap

      %p
        Homework for Week 4 is now available
        = link_to "on Github", homework_url(4, :spring, '2013')
        \.

      %p All of the homework instructions are in the README in the repository.
      %p
        %strong Turn In Your Homework By Wednesday, May 1st.

      %p
        The main idea this week was the convention of the
        %em golden 7
        routes for a single, RESTful, database-backed resource.

      %h4 OFFICE HOURS:

      %ul
        %li Jeff: Monday, 3pm-4pm in the South Classroom at The Starter League.

    %li.news_item
      %h3 Week 3 Recap

      %p
        Homework for Week 3 is now available
        = link_to "on Github", homework_url(3, :spring, '2013')
        \.

      %p All of the homework instructions are in the README in the repository.
      %p
        %strong Turn In Your Homework By Wednesday, April 24th.

      %p The sidebar also has an RCAV review sheet including a peek ahead at models that we'll cover next week.

      %h4 OFFICE HOURS:

      %ul
        %li Jeff: Monday, 3pm-4pm in the South Classroom at The Starter League.

    %li.news_item
      %h3 Week 2 Recap

      %p
        Homework for Week 2 is now available
        = link_to "on Github", homework_url(2, :spring, '2013')
        \.

      %p All of the homework instructions are in the README in the repository.

      %p
        %strong Turn In Your Homework By Wednesday, April 17th.


      %h4 OFFICE HOURS:

      %ul
        %li Jeff: Monday, 3pm-4pm in the South Classroom at The Starter League.


    %li.news_item
      %h3 Week 1 Recap

      %p Please do these things this week:

      %ol
        %li Get a free Github.com account.
        %li
          Create a "fork" of
          = link_to "Week1", "http://github.com/cspp52553-spring-2013/week1"
          \.  Read the homework.pdf guide that's there if you need help.
        %li
          Setup Ruby and Rails on your personal laptop.
          Check out the
          = link_to "How to Install Rails", "http://www.jeffcohenonline.com/installing-rails"
          guide that's also accessible in the sidebar.
        %li
          %strong Turn In Your Homework By Wednesday, April 10th.
        %li If any of the Ruby seemed fuzzy in class, get a copy of "Learn to Program", 2nd Edition, by Chris Pine.


      %h4 OFFICE HOURS:

      %ul
        %li
          Raghu: Tuesday, 2pm-3pm at Stuart Cafe
          = link_to "(here's a map)", "http://maps.uchicago.edu/mainquad/stuart.html"
        %li Jeff: Monday, 3pm-4pm in the South Classroom at The Starter League.


    %li.news_item
      %h3 Class Starts Monday, April 1 at 5:30pm sharp

      %p
        %strong Location:
        %br
        The Starter League, Web Development Classroom
        %br
        Merchandise Mart, 12th Floor (inside the 1871 Tech Center)

      %p.map
        = render 'map'

      %p
        %strong Directions:
        %br
        Take the Orleans Elevators at the west end of the building to the 12 floor.  You'll be at the entrance to the
        = link_to "1871 Technology Center", 'http://www.1871.com'
        (Suite 1212).  The Starter League is on your right just past the front desk.

