#study_guide
  .row.page-header
    %h1
      CSPP 52553 Study Guide
      %small Here are the essentials worth studying.

  .row
    %ol
      %li
        %span.label HTTP
        = link_to 'How would you describe the primary characteristics of HTTP?', '#', class: 'question'
        %p.answer
          HTTP is a request-response protocol. The primary philosophy involves a
          %em client
          requesting
          %em resources
          from a
          %em server.
          Headers in the request must include, among other things, the resource being requested (the URL) and the method that should be applied (generally one of GET, POST, PUT, or DELETE).
          %br
          %br
          Requests and responses both contain a header of key-value pairs and an optional body element.  All data is always conveyed as strings, both header data and body data.  Binary data must be encoded as text (for example, using base64 encoding, etc.) and decoded on the receiving end.

      %li
        %span.label.label-success Ruby
        = link_to "What's the primary difference between the 'do' and 'def' keywords in Ruby?", '#', class: 'question'
        %p.answer
          %code def
          is for defining a section of code as named method.  The code does not run immediately but is expected to be invoked later.  The
          %code do
          keyword defines a section of code as an anonymous method to be passed immediately as a parameter into another method.
      %li
        %span.label.label-success Ruby
        = link_to "What's the difference between an 'instance method' and a 'class method' in Ruby?", '#', class: 'question'
        %p.answer
          An instance method is a method of a class that can only be invoked on a specific instance of that class.  A class method is invoked directly against the class itself, and cannot be invoked against any specific instance of the class.
      %li
        %span.label HTTP
        = link_to "What is a web-based API?", '#', class: 'question'
        %p.answer
          It's a way for any two software components to communicate over HTTP instead of a proprietary or language-specific protocol.

      %li
        %span.label HTTP
        = link_to "Do all web browsers support all HTTP methods?", '#', class: 'question'
        %p.answer
          None of them support all HTTP methods. Browsers are geared for HTML documents, and HTML only defines support for two: GET and POST.  All browsers therefore support only GET and POST.

      %li
        %span.label.label-important Rails
        = link_to "What does the 'rails server' command do?", '#', class: 'question'
        %p.answer
          The
          %code rails server
          command starts an HTTP web server on port 3000.  HTTP requests received on port 3000 (for example,
          %code http://localhost:3000/products
          ) will be received and processed by the Rails application located in the current directory when the
          %code rails server
          command was issued.
          %br
          %br
          The server will run until forcibly terminated (usually by pressing
          %code Control-C
          ).  While it is running, the server will display a continous log of incoming HTTP requests as they are being processed.

      %li
        %span.label.label-important Rails
        = link_to "What is a route?", '#', class: 'question'
        %p.answer
          A route, defined in
          %code config/routes.rb
          , connects an incoming HTTP request with a specific action method of a specific controller class.

      %li
        %span.label.label-important Rails
        = link_to "What is a controller?", '#', class: 'question'
        %p.answer
          A controller is a Ruby class that is defined in the
          %code app/controllers
          folder and derives from
          %code ActionController::Base
          \.  The primary responsibility of a controller is to respond to incoming HTTP requests.  A controller can respond to any number of different kinds of requests.  The exact set of requests that can be handled by a given controller is specified by the
          %strong routes.
          Instance methods of a controller are called
          %em actions,
          and each action can handle exactly one kind of request (that is, a specific HTTP method and URL pattern).
          %br
          %br
          A controller that strictly adheres to
          %em RESTful
          conventions will have a maximum of seven methods, but controllers are not required to adhere strictly or at all.

      %li
        %span.label.label-important Rails
        = link_to "What is a view?", '#', class: 'question'
        %p.answer
          A view, sometimes called a
          %em view template,
          is usually an HTML file that can also contain embedded Ruby code.  Views are usually given two file extensions,
          %code .html.erb
          \, to indicate that they contain both HTML markup and embedded Ruby logic.
          %br
          %br
          A view has direct access to any controller instance variables that have been defined in the corresponding action method.
          And since views can contain arbitrary Ruby code, they can also define their own Ruby variables and methods for use within that view template.
          %br
          %br
          Finally, views can access model classes directly to retreive data as needed.

      %li
        %span.label.label-important Rails
        = link_to "What is a named route?", '#', class: 'question'
        %p.answer
          A route connects an HTTP method and URL pair to a specific controller action method.  But URLs are often needed in other places too: views often contain links and forms that require URLs, and controllers might want to render a 300-level response (a redirect) which require a URL.
          %br
          %br
          Rather than repeat the same URL strings throughout our code, we can attach a name to a route by using the
          %code as
          option.  When we attach a name, Rails will generate two methods for us that will return back the URL that's specified in that route.  We can invoke either of these methods anywhere in our app that we would otherwise hardcode a URL string.
          %br
          %br
          The names of the these methods are derived from our route name and always follow a specific convention:
          %br
          %br
          %code {route-name}_url
          %br
          and
          %br
          %code {route-name}_path
          %br
          %br
          For example, for the following named route:
          %br
          %br
          %code get '/product_catalog', controller: 'products', action: 'index', as: 'catalog'
          %br
          %br
          Rails will now write two methods on our behalf:
          %code catalog_url
          and
          %code catalog_path
          \.
          %br
          %br
          Here's a link that uses our named route:
          %br
          %br
          %code <%= link_to 'See Our Product Catalog', catalog_url %>




