.row
  .page-header
    %h1
      Spring 2013 Midterm
      %small= @user.name

= form_tag '/midterm/done', method: 'post' do

  .row
    = submit_tag "I'm Done", class: 'btn-large pull-right btn btn-success', confirm: "Are you sure you're finished?"

    %p.lead
      %strong For each question, select all correct options.  There may be zero or more correct options per question.

  .row
    %ol
      - @questions.each do |q|
        %li.exam_question
          %p
            %strong= q.question
          - if q.code.present?
            %p
              %code= q.code

          %ul.unstyled
            - q.exam_options.each do |option|
              %li
                %label.check_box
                  - if @user.exam_answers.find_by_exam_option_id(option.id).present?
                    %input(type="checkbox" name="exam_option[#{option.id}]" class="exam_checkbox" data-option="#{option.id}" checked)
                  - else
                    %input(type="checkbox" name="exam_option[#{option.id}]" class="exam_checkbox" data-option="#{option.id}")
                  = option.description


  .row
    = submit_tag "I'm Done", class: 'btn-large pull-right btn btn-success', confirm: "Are you sure you're finished?"




