.row
  .page-header
    %h1
      Spring 2013 Midterm
      %small= @user.name

.row
  = button_to "I'm Done", '#', class: 'pull-right btn btn-success',
    confirm: "Are you sure you're finished?"

  %p.lead
    %strong For each question, select all correct options.  There may be zero or more correct options per question.

.row
  %ol
    - @questions.each do |q|
      %li.exam_question
        %strong= q.question

        %ul.unstyled
          - q.exam_options.each do |option|
            %li
              - obj = @user.exam_answers.find_by_exam_option_id(option.id)
              - obj ||= @user.exam_answers.build
              = form_for obj, remote: true do |f|
                = f.hidden_field :exam_user_id
                %label.check_box
                  = f.check_box :exam_option_id, class: 'exam_checkbox'
                  = option.description



